# Сборка PyInstaller и артефакты
dist/
build/
*.spec

# Виртуальное окружение
venv/
.venv/
env/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Логи и временные файлы
*.log
.DS_Store
*.tmp
*.bak

# Тестовые данные и картинки
*.xlsx
*.xls
image.png
image-1.png